@model FirstResponsiveWebAppCollins.Models.Class
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Age Calculator</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name"> Name:</label>
            <input asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="YearOfBirth"> Year of birth:</label>
            <input asp-for="YearOfBirth" />
        </div>
        <div>
            <label>Age on December 31st:</label>
            <input value="@ViewBag.FV.ToString()" readonly />
        </div>
        <div>
            <button type="submit">Calculate</button>
            <a asp-action="Index">Clear</a>
        </div>
    </form>
</body>
</html>